/* style.css for Amazeriffic Project
*/

body {
  background: #f9e933;
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
  	font-weight: 700;
	font-size: xx-large; /* set h1 font size relative to base font size of 100% */
	
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
  	font-weight: 700;
	font-size: x-large; /* set h2 font size relative to base font size of 100% */
	
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
  	font-weight: 700;
	font-size: larger; /* set h1 font size relative to base font size of 100% */
	
}

h5 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
  	font-size: 1.2em; /* set h5 font size to 1.2 times the base font size of 100% */
	font-weight: 700;
	
}

header, main, footer {
  min-width: 855px;
 
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
  
}

header {
	background: white;
	overflow: auto;
	
}

header .left {
	float: left;
	width: 570px;
	
}

header .right {
	float: right;
	width: 285px;
	
}

main {
	background: white;
	overflow: auto;

	
}

main .left {
	float: left;
	width: 570px;
	
}

main .right {
	float: right;
	width: 285px;
	
}

footer {
	overflow: auto;
	
}

footer .contact {
  float: left;
  width: 570px;
  
}

footer .sitemap {
  float: right;
  width: 285px;
  
}

.sitemap ul{
    width:285px;
	
}


.sitemap li{
    float:left;
	width: 136px;
	margin:0 6px 6px 0;
   
}

